/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #eff0f3;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    margin-bottom: 30px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #555;
    display: block;
    padding: 10px 0;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    color: #6a5acd;
    font-weight: bold;
}

/* Contenido principal */
.main-content {
    flex: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info p {
    margin-right: 10px;
    font-weight: bold;
}

.books-grid {
    padding: 15PX;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.book-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.book-card h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.book-card p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.book-card button {
    background-color: #6a5acd;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book-card button:hover {
    background-color: #5b4cb4;
}